PORT=5000
# Replace <db_password> with your actual MongoDB Atlas password
MONGODB_URI=mongodb://jkamlesh131106_db_user:<db_password>@ac-nofu3g9-shard-00-00.ddywzeb.mongodb.net:27017,ac-nofu3g9-shard-00-01.ddywzeb.mongodb.net:27017,ac-nofu3g9-shard-00-02.ddywzeb.mongodb.net:27017/?ssl=true&replicaSet=atlas-iux5dn-shard-0&authSource=admin&appName=APEX
GEMINI_API_KEY=AIzaSy...your_gemini_api_key_here
GOOGLE_CLOUD_PROJECT=gen-lang-client-0430258993
NODE_ENV=development
